*~
*#
*.bak
bin/
/build/
.buildpath
.classpath
.cproject
.DS_store
.externalToolBuilders/
.gradle
*.launch
.loadpath
local.properties
.metadata
*~.nib
.project
*.pydevproject
.settings/
*.swp
.target
.texlipse
*.tmp
tmp/
/war/
